body {
    font-family: "Open Sans", sans-serif;
    color:black;
}
h1 {
    color:black;
    background-color: white;
}

img {
    width: 60px;
    height: auto;
}

figcaption span {
    font-size: .95em;
}

